.popover-default {
  position: absolute;
  min-width: 128px;
  min-height: 24px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 0px #0000000d;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  z-index: 1005;
}

.popover-empty {
  position: absolute;
  min-width: 128px;
  min-height: 24px;
  background: transparent;
  z-index: 1000;
}
